/* CSS Style for FreBDM */

/* Two-columns (optional) */
/* body { -webkit-column-count: 2; } */

/* Custom font "EB Garamond", , "Times New Roman", Times 
.title type="x-introduction" {
   font-family: "Linux Libertine O" ;
    font-size: large ;
    text-align: justify ;     */ 
      
/* Titre 1 h1, Titre 2 h2 Titre 3 h3...*/
h1{ color: black; font-family: "Linux Libertine O" ; text-align: right ; }

h2{ color: red;  text-align: right ; }

h3{ color: green;  font-size: 140% ;  font-family: "Linux Libertine O" ; text-align: center; }

.subSection1 { -webkit-column-count: 1 ; background-color:#FCDC12  ; color:#FEFEE2; font-style: bold ; text-align: center; }
.subSection2 { -webkit-column-count: 1 ; background-color:#c60030 ; color:white ;font-style: ; text-align: center; }
.subSection3 { -webkit-column-count: 1 ; background-color:Red ; color:white ; font-style: ; text-align: center; }
.subSection4 { -webkit-column-count: 1 ; background-color:Red ; color:white ; font-style: ; text-align: center; }
.subSection5 { -webkit-column-count: 1 ; background-color:Red ; color:white ; font-style: ; text-align: center; }
.subSection { -webkit-column-count: 1 ; background-color:Green ; color:white ; font-style:bold ; text-align:center; }
/*.text { -webkit-column-count: 1 ; background-color: ; color:brown ; text-align: left; }


h4{    color: brown; font-size: 120% ; }

/*Texte biblique en lui-même "body" */
body { -webkit-column-count: 1 ; margin-top: 0cm ; text-align: left ; font-family: URW Chancery L ; color:brown ; }
/*div[subSection]{
    color: red; text-align: center ; font-family: "Linux Libertine O" ; }

/*.otPassage {  color: blue;    }

/* Texte des introduction */
.introMaterial { -webkit-column-count: 1 ; background-color: ; color:brown ; text-align: justify ; }


/* .transChange { background-color:green ; color:yellow }
}        */
/* Header "EB Garamond SC" */
/*.moduleHeader, .testamentHeader, .bookHeader, .chapterHeader{
    font-family: "Linux Libertine O" ;
    font-style: italic ;
    text-align: center ;    */
}

/* Chapter description 
.x-ChapterDescription {
    font-weight: normal ;
    font-style: italic ;
    font-size: 90% ;
    text-align: center ;      */
